NEXT_PUBLIC_KAKAO_CLIENT_ID=your_kakao_client_id
NEXT_PUBLIC_BASE_URL=https://valanserver.store/dev-server/
NEXT_PUBLIC_KAKAO_REDIRECT_URI=http://localhost:3000/oauth/kakao/redirect
NEXT_PUBLIC_KAKAO_URL=https://kauth.kakao.com/oauth/authorize
